extends layout

block content
    h1 Welcome to CIS550 Datalake
    h3 Anthony Janocko, Karan Hiremath, Shuai Shao, Zimyang
    hr
    h2 Results
    h4= query
    each val, index in data
        p= "" + index
        div(id=index, style="width: 600px; height: 400px; border: 1px solid lightgray;")
        hr
        script.
            var element_id = !{JSON.stringify(index)};      
            console.log(!{JSON.stringify(index)})
            var container = document.getElementById(element_id);

            console.log(container);

            var options = {};

            var nodes = new vis.DataSet(!{JSON.stringify(val.nodes)});
            var edges = new vis.DataSet(!{JSON.stringify(val.edges)});

            var data = {nodes: nodes, edges: edges};

            var network = new vis.Network(container, data, options);